<div class="panel-pop-up" style="left: 15px; top: 70px;">
    <div class="category-bar__sub-category-item">
        <span>
            機+酒
        </span> 
        <svg width="32" height="16" viewBox="0 0 32 16" class="svg-use category-bar__color-tag">
            <use xlink:href="#v2_color_tag_undefined"></use>
        </svg>
    </div>
    <div class="category-bar__sub-category-item">
        <span>
            機+行程&amp;門票
        </span> 
        <svg width="32" height="16" viewBox="0 0 32 16" class="svg-use category-bar__color-tag">
            <use xlink:href="#v2_color_tag_undefined"></use>
        </svg>
    </div>
<div class="category-bar__sub-category-item"><span>
    機+團體旅遊&amp;Mini Tours
</span> <svg width="32" height="16" viewBox="0 0 32 16" class="svg-use category-bar__color-tag"><use xlink:href="#v2_color_tag_undefined"></use></svg></div><div class="category-bar__sub-category-item"><span>
    機+郵輪假期
</span> <svg width="32" height="16" viewBox="0 0 32 16" class="svg-use category-bar__color-tag"><use xlink:href="#v2_color_tag_undefined"></use></svg></div><div class="category-bar__sub-category-item"><span>
    機票
</span> <svg width="32" height="16" viewBox="0 0 32 16" class="svg-use category-bar__color-tag"><use xlink:href="#v2_color_tag_undefined"></use></svg></div> <span class="dropdown-arrow"></span></div>